{BasedOnStyle: Google, IndentWidth: 4, Standard: Cpp11, AlignEscapedNewlinesLeft: true, AlignTrailingComments: true, AllowAllParametersOfDeclarationOnNextLine: false, AllowShortFunctionsOnASingleLine: true, AllowShortIfStatementsOnASingleLine: true, AlwaysBreakBeforeMultilineStrings: true, ColumnLimit: 120, Cpp11BracedListStyle: true, Language: Cpp, MaxEmptyLinesToKeep: 2, UseTab: Never}